
/* --------------------------------------- */
/* main */
.acomodo__contenido {
    display: flex;
}

.acomodo__catalogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: width 0.5s ease;
}

.acomodo__catalogo__aside {
    display: flex;
    flex-direction: column;
    width: 75%;
    transition: width 0.5s ease;
}


/* ----> cartas */
.cartas {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 375px) {
    .cartas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .cartas {
        grid-template-columns: repeat(3, 1fr);
    }
}

.carta {
    border-top: 0.5rem solid #008b8b;
    border-right: 0.5rem solid #008b8b;
    box-shadow: 0.5rem 1rem 1rem #60609f33;
    background-color: var(--blanco);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    line-height: 1.1;
}


.carta__imagen {
    width: 100%;
}

.carta__info {
    margin: 0 2rem;
}

.carta__Categoria {
    font-size: 3rem;
}

.carta__nombre {
    font-size: 1.6rem;
}

.carta__titulo {
    font-size: 1.6rem;
    margin-top: 2rem;
}

.carta__tall {
    font-size: 1.2rem;
}

.carta__precio {
    font-size: 1.2rem;
    font-weight: 700;
}

.carta__botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.carta__boton {
    text-decoration: none;
    color: var(--gris);
}

/* aside */
.aside {
    height: 100vh;
    width: 25%;
    position: fixed;
    padding: 2rem;
    right: 0;
    overflow: auto;
    white-space: wrap;
    background-color: var(--blanco);
    transition: width 0.5s ease;
    scrollbar-width: none;
}

.aside__oculto {
    width: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.5s ease;
}

.aside__img {
    width: 100%;
}

/* nosotros */
.nosotros__titulo {
    display: flex;
    height: 10rem;
    align-items: center;
    justify-content: center;
}

.nosotros__titulo__nombre {
    font-size: 6rem;
}



.nosotros__contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    gap: 2rem;
}

.nosotros__img {
    width: 100%;
}

.nosotros__info {
    text-align: center;
}

.nosotros__info h2 {
    margin-top: 4rem;
}
