/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #008b8b;
    color: #e7ebda;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

/* Estilos por bloqque */
seccion {
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* ---- */
.contenedor {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.contenedor h3 {
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: #e7ebda;
    font-weight: 500;
}

.contenedor form {
    margin: 25px 0 20px;
}

.contenedor .input-box {
    margin: 25px;
}

.contenedor .input {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: #e7ebda;
    font-family: inherit;
    font-weight: inherit;
    font-size: 16px;
    outline: none;
}

.contenedor .inpunt-link {
    margin-top: 10px;
    text-align: right;
}

.contenedor .btn {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    background: linear-gradient(to right, rgb(2, 151, 139), rgb(245, 16, 226));
    border: none;
    color: #e7ebda;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.contenedor .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: background-color 0.5 ease;
    z-index: -1;
}

.contenedor .btn:hover::before {
    background-color: rgb(75, 68, 68);
}

/* .contenedor p {
    text-align: center;
} */

.contenedor .box {
    border-color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 40px 50px;
    border-radius: 20px;
    box-shadow: 0 0 1.5rem 0.3rem rgba(194, 9, 178, 0.5);
    background-color: rgba(0, 0, 0, 0.400);
}

.inputpassword {
    display: flex;
}

.buttonVer {
    border: none;
    color: white;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.mensajeInf {
    display: flex;
    text-align: start;
    font-weight: lighter;
    color: rgb(255, 166, 166);
    display: none;
}

.gradient-text {
    background: linear-gradient(to right, rgb(1, 137, 161), rgb(243, 242, 243));
    background-clip: text;
    color: transparent;
}

/* Validciones */
/*  */
form.validado input:invalid + p, 
.novalido + p,
form.validado p.input-group:has(input:invalid) + p,
p.input-group:has(.novalido) + p{
    display: block;
}

form.validado input:valid + p,
.valido + p,
form.validado p.input-group:has(input:valid) + p,
p.input-group:has(.valido) + p{
    display: none;
}

form.validado p:has(.input-group input:valid) + p {
    display: none;      
}

form.validado p.input-group:has(input:invalid) + p {
    display: block;
}

.valido{
    display: block;
}




