/* ----> cartas */
.cartas {
    display: grid;
    margin: 2rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

@media (min-width: 375px) {
    .cartas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .cartas {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* carta */
.carta {
    border-top: 0.5rem solid var(--cianOscuro);
    border-right: 0.5rem solid var(--cianOscuro);
    box-shadow: 0.5rem 1rem 1rem var(--sombra);
    background-color: var(--blanco);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 25rem;
    padding: 1rem;
    line-height: 1.1;
}



.carta__imagen {
    width: 100%;
    height: auto;
}

.carta__info {
    margin: 0 2rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1.3fr 2fr;
}

.carta__Categoria {
    font-size: 3rem;
}

.carta__nombre {
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.carta__talla-precio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carta__talla,
.carta__precio {
    font-size: 1.6rem;
    margin: 1rem;
}

.carta__texto {
    font-size: 1.2rem;
}

.link__icono__ch {
    font-size: 2rem;
}

.carta__apartar {
    background-color: var(--cianOscuro);
    border-radius: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    text-decoration: none;
    padding: 1rem;

}

.carta__apartar:hover {
    background-color: var(--blanco);
    color: var(--cianOscuro);
}

.carta__botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    padding: 1rem;
}

.carta__boton {
    text-decoration: none;
    color: var(--gris);
}

.carta__boton:hover {
    color: var(--cianOscuro);
}