/* ----> menu */
.menu {
    position: fixed;
    width: 7rem;
    height: 100%;
    overflow: hidden;
    padding: 0.7rem 1.5rem 2rem 1.5rem;
    background-color: var(--blanco);
    transition: width 0.5s ease;
}

.menu:hover {
    width: 22rem;

    .sitio__span,
    .boton__span,
    .link__span {
        width: 100%;
        opacity: 1;
        transition: all 0.5s ease, width 0.5s ease;
        text-align: left;
        white-space: nowrap;
    }
}

/* ----> titulo */
.sitio {
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

/* ----> boton */
.boton {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1rem;
    background-color: var(--negro);
    color: var(--blanco);
    text-decoration: none;
}

/* ----> iconos */
.sitio__icono {
    min-width: 4rem;
    font-size: 3.5rem;
}

.boton__icono,
.nav__icono,
.link__icono,
.usuario__icono {
    min-width: 4rem;
    font-size: 3rem;
    cursor: pointer;
}

.buscador__icono {
    font-size: 2rem;
}

/* ----> spans */
.sitio__span {
    font-size: 2.4rem;
}

.boton__span,
.link__span {
    font-size: 1.8rem;
}

.sitio__span,
.boton__span,
.link__span {
    width: 0;
    opacity: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s ease, width 0.5s ease;
}

/* ----> navegacion */
.nav {
    margin: 1rem 0;
}

.nav__item {
    list-style: none;
    display: flex;
    margin-top: 0.4rem;
}

.link {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 1rem;
    background-color: var(--blanco);
    color: var(--gris);
    gap: 1rem;
}

.link:hover {
    background-color: var(--hover);
    color: var(--negro);
}

/* ----> linea */
.linea {
    width: 100%;
    height: 0.3rem;
    background-color: var(--gris);
    border-radius: 2rem;
}

/*  ----> usuario */
.usuario {
    width: 100%;
    display: flex;
    margin-top: 6rem;
}

.usuario__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.usuario__cerrar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.boton__cerrar {
    margin-top: .5rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 3rem;
    background: linear-gradient(to right, rgb(255, 151, 139), rgb(245, 16, 226));
    color: var(--blanco);
    cursor: pointer;
}

.usuario__nombre-email {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.usuario__nombre {
    font-size: 1rem;
    font-weight: 600;
}

.usuario__email {
    font-size: 1.2rem;
}

/* boton inicio secion */
.boton__InicioSesion{
    color: transparent;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(2, 151, 139);
    border: none;
    color: #e7ebda;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    /* transition: width 0.5s ease; */
}
